# .gitignore whitelist

# Ignore everything
*

# Allow CI configs
!/.gitignore
!/Makefile
!/.github/**/*.yml

# Allow source code...
!/smallstache
!*.sh

!README.md
!LICENSE

# ...also in subdirectories
!*/
